/* #my-graph {
	height: 100vh;
}

.Select-clear-zone {
	display: none;
}
label {
	display: block;
	padding-left: 6px;
}
 */
 .Select-control {
    background-color: rgb(34, 34, 34) !important;
    color: rgb(173, 175, 174);
  }
  
.Select-menu-outer {
    background-color: rgb(34, 34, 34);
    color: rgb(173, 175, 174);
	height: 500px !important;]
}

.Select-value-label {
    color: rgb(173, 175, 174) !important;
}

input[type=checkbox] {
	margin-right: 10px !important;
	
}

h5 {
	color: rgba(255,255,255,0.9);
}